.App {
  width: 100%;
  height: 100%;
}

div {
  touch-action: none;
}

.srd-demo-workspace {
  background: black;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.srd-demo-workspace__toolbar {
  padding: 5px;
  display: flex;
  flex-shrink: 0;
}
.srd-demo-workspace__toolbar button {
  background: #3c3c3c;
  font-size: 14px;
  padding: 5px 10px;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  margin: 2px;
  border-radius: 3px;
}
.srd-demo-workspace__toolbar button:hover {
  background: #00c0ff;
}
.srd-demo-workspace__content {
  flex-grow: 1;
  height: 100%;
}

.docs-preview-wrapper {
  background: #3c3c3c;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.srd-demo-canvas {
  height: 100%;
  min-height: 300px;
  background-color: #3c3c3c !important;
  background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent);
  background-size: 50px 50px;
}
.srd-demo-canvas .pointui {
  fill: rgba(255, 255, 255, 0.5);
}

.body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  display: flex;
  background: rgb(30,30,30);
  flex-grow: 0;
  flex-shrink: 0;
  color: white;
  font-family: Helvetica, Arial;
  padding: 10px;
}
.header>* {
  align-self:center;
}

.content {
  display: flex;
  flex-grow: 1;
}

.content .diagram-layer {
  position: relative;
  flex-grow: 1;
  height: 500px;
}

.content .tray {
  min-width: 200px;
  background: rgb(20,20,20);
  flex-grow: 0;
  flex-shrink: 0;
}

.content .tray .tray-item {
  color: white;
  font-family: Helvetica, Arial;
  padding: 5px;
  margin: 0px 10px;
  border: solid 1px;
  border-radius: 5px;
  margin-bottom: 2px;
  cursor: pointer;
}

.footer {
  display: flex;
  align-items: stretch;
  height: 200px;
}

.footer > div {
  width: 50%;
}

.footer .node-settings {
  border: 5px black;
}